
<aside class = "navigation">
    <div class = "logo">
        <a href="#0"><img src="/images/logo-5.png" alt="Grammarly logo" class = "logo-img"></a>
    </div>
    <div class="nav-containts">
        <div class="nav-bar first-part">
            <a href="./home.ejs" id = "go-back"><i class="fa-solid fa-house-chimney fa-flip-horizontal"></i> &nbsp My Grammarly</a>
            <a href="./trash.html"><i class="fa-regular fa-trash-can"></i> &nbsp Trash</a>
            <a href=""><i class="fa-solid fa-user"></i> &nbsp Account</a>
            <a href="./apps.html" class = "dot-container"><i class="fa-solid fa-cube"></i><span class = "red-dot">4</span>  &nbsp Apps</a>
            <a href=""><i class="fa-regular fa-star"></i> &nbsp  Premium</a>
        </div>

        <div class="nav-bar second-part">
            <a href=""><i class="fa-regular fa-circle-question"></i> &nbsp  Support</a>
            <a href=""><i class="fa-solid fa-power-off"></i> &nbsp  Sign Out
            <p>xyz@gmail.com</p></a>
        </div>
    </div>
</aside>