<link rel="stylesheet" href="/css/appstyle.css">
<div class="main-body">
    <h1 class="app-heading">Grammarly Apps</h1>
    <div class="app-cards">
        <div class="app-card">
            <img src="/images/windows.png" alt="desktop windows image" class = "card-img">
            <div class="card-info">
                <h2>Grammarly for Windows</h2>
                <p>Grammarly for your desktop is your one-stop solution to 
                    get writing suggestions across a wide array of desktop apps and websites.
                </p>
            </div>
            <button>
               <a href="https://www.grammarly.com/desktop/windows?&utm_source=google&utm_medium=cpc&utm_campaign=brand-ad-ext&utm_content=486649398671&utm_term=grammary&matchtype=p&placement=&network=g&gclid=CjwKCAiAvK2bBhB8EiwAZUbP1AEvvgq5dOL2x7JGsmWmZM2tQAV-pbgEyAN63-ckE50cFBDwkrm7hxoCj0cQAvD_BwE&gclsrc=aw.ds" class="g-links" style="color: #fff;"> Install</a> 
            </button>
        </div>

        <div class="app-card">
            <img src="/images/chrome.png" alt="desktop windows image" class = "card-img">
            <div class="card-info">
                <h2>Grammarly for Chrome</h2>
                <p>Grammarly's browser extensions offer writing suggestions in Google Docs 
                    and other sites across the web.
                </p>
            </div>
            <button>
                <a href="https://www.grammarly.com/browser/chrome" class="g-links" style="color: #fff;"> Install</a>
            </button>
        </div>

        <div class="app-card">
            <img src="/images/apple.png" alt="desktop windows image" class = "card-img">
            <div class="card-info">
                <h2>Grammarly for iPhone and iPad</h2>
                <p>Write confidently and professionally across all your apps and websites with Grammarly’s writing suggestions, anywhere you go.
                </p>
            </div>
            <button>
                <a href="https://www.grammarly.com/desktop/mac" class="g-links" style="color: #fff;"> Install</a>
            </button>
        </div>

        <div class="app-card">
            <img src="/images/android.png" alt="desktop windows image" class = "card-img">
            <div class="card-info">
                <h2>Grammarly for Android</h2>
                <p>Write clearly, confidently, and mistake-free across all your apps with your Grammarly Keyboard and personal writing assistant.
                </p>
            </div>
            <button>
                 <a href="https://play.google.com/store/apps/details?id=com.grammarly.android.keyboard&pli=1" class="g-links" style="color: #fff;"> Install</a>
            </button>
        </div>

      
    </div>
</div>

