<link rel="stylesheet" href="css/homestyle.css">
<div class="main-body">
    <form action="" class="search-bar">
        <input type="text" placeholder="Search..." name = "search">
        <button type = "submit"><i class="fa-solid fa-magnifying-glass "></i></button>
    </form>

    <div class="cards-section">
        <div class="card one">
            <div class="text-sec">
               <a href="./charCounter/index.html"><i class="fa-regular fa-file fa-2xl"></i>
                <br>
                <br>
                <h2>New</h2>
               </a>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                    <i class="fa-sharp fa-solid fa-file-arrow-up"></i> &nbsp Upload
                </a>
            </div>
        </div>
        <p class = "Yesterday">Yesterday</p>
        <div class="card two" id = "two">
            <div class="first-sec">
                <h4 class = "card-header">Demo Document</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing </p>
            </div>
            <div class="last-sec" id = "last-sec">
                <h2>3</h2>
                <div class="download-ico" id="down-ico"><i class="fa-solid fa-file-arrow-down"></i></div>
                <div class="trash-icon" id = "trash-ico"><i class="fa-solid fa-trash-can"></i></div>

            </div>
        </div>
        <p class = "Yesterday Earlier">Earlier</p>
        <div class="card two three" id = "three">
            <div class="first-sec">
            <h4 class = "card-header">Demo Document</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Officiis nostrum ratione maiore
            </p>
            </div>
         <div class="last-sec" id = "last-sec">
                <h2>8</h2>
                <div class="download-ico" id="down-icon"><i class="fa-solid fa-file-arrow-down"></i></div>
                <div class="trash-icon" id = "trash-icon"><i class="fa-solid fa-trash-can"></i></div>

            </div>
            
        </div>
    </div>
</div>

<script src="js/homescript.js"></script>