<link rel="stylesheet" href="/css/trashstyle.css">
<div class="main-body">
     <form action="" class="search-bar">
        <input type="text" placeholder="Search..." name = "search">
        <button type = "submit"><i class="fa-solid fa-magnifying-glass "></i></button>
    </form>
    <div class="info-sec">
        <p><i class="fa-solid fa-circle-info"></i>&nbsp;Document in the trash are permanately deleted after 30 days. </p>
        <button class="clr-btn">Empty trash</button>
    </div>

    <div class="delete-cards">
        <div class="card one">
            <div class="text-sec">
              <h4>New title</h4>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                   <i class="fa-solid fa-rotate-left"></i>
                </a>
                <a href="#0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>

        <div class="card one">
            <div class="text-sec">
              <h4>New title</h4>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                   <i class="fa-solid fa-rotate-left"></i>
                </a>
                <a href="#0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>

         <div class="card one">
            <div class="text-sec">
              <h4>New title</h4>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                   <i class="fa-solid fa-rotate-left"></i>
                </a>
                <a href="#0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>

         <div class="card one">
            <div class="text-sec">
              <h4>New title</h4>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                   <i class="fa-solid fa-rotate-left"></i>
                </a>
                <a href="#0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>

         <div class="card one">
            <div class="text-sec">
              <h4>New title</h4>
               
            </div>
            <div class="other-sec">
                <a href="#0">
                   <i class="fa-solid fa-rotate-left"></i>
                </a>
                <a href="#0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
</div>